[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
matplotlib = "*"
deap = "*"
networkx = "<2"
reportlab = "*"
numpy = "*"
svgwrite = "*"
svglib = "*"

[requires]
python_version = "3.8"
