[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
matplotlib = "==2.0.0"
deap = "==1.2.2"
networkx = "==1.11"
reportlab = "*"
numpy = "==1.13.3"
svgwrite = "*"
svglib = "*"

[requires]
python_version = "3.6"
