[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
space-tracer = "*"

[packages]
matplotlib = "*"
deap = "*"
networkx = "<4"
reportlab = "*"
numpy = "*"
svgwrite = "*"
svglib = "*"
cairosvg = "*"
rlpycairo = "*"

[requires]
python_version = "3.9"
